<div class="row">
  <div class="small-12 small-centered columns">
    <h1 class="fancy text-center">Invite List</h1>
    <p class="text-center">Number of guests attending:
    <%= "#{Guest.num_attending}/#{Guest.all.count}" %></p>
    <p class="text-center">Number of guests with dietary requirements:
    <%= "#{Guest.num_dietary}/#{Guest.num_attending}" %></p>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Coming</th>
            <th>Has Dietary</th>
            <th>Details</th>
            <th>Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @invites.each do |invite| %>
          <thead>
          <tr>
            <th colspan="5"><%= invite.short_code %></th>
          </tr>
          </thead>
          <% invite.guests.each do |guest| %>
          <tr>
            <td><%= guest.name %></td>
            <td><%= guest.is_attending %></td>
            <td><%= guest.has_special_diet %></td>
            <td><%= guest.dietary %></td>
            <td><%= "#{distance_of_time_in_words_to_now(invite.updated_at)} ago" %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
