<div class="row">
  <div class="small-12 small-centered columns">
    <h1 class="fancy text-center">Invite List</h1>
    <p class="text-center">Number of guests attending:
    <%= "#{Guest.num_attending}/#{Guest.all.count}" %></p>
    <p class="text-center">Number of guests with dietary requirements:
    <%= "#{Guest.num_dietary}/#{Guest.all.count}" %></p>
  </div>
</div>

<div class="row">
  <% @invites.each do |invite| %>
  <div class="medium-6 columns">
    <table>
      <thead>
        <tr>
          <th colspan="4"><%= invite.code %></th>
        </tr>
        <tr>
          <th colspan="4">
            <%= "Updated: #{distance_of_time_in_words_to_now(invite.updated_at)} ago" %>
            </th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Coming</th>
          <th>Has dietary</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% invite.guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.is_attending %></td>
          <td><%= guest.has_special_diet %></td>
          <td><%= guest.dietary %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
